<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.questionnairebackend.mapper.AnswersheetMapper">

    <resultMap id="BaseResultMap" type="com.neu.questionnairebackend.model.domain.Answersheet">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="userAccount" column="userAccount" jdbcType="VARCHAR"/>
            <result property="questionID" column="questionID" jdbcType="INTEGER"/>
            <result property="surveyId" column="surveyId" jdbcType="INTEGER"/>
            <result property="selectChoices" column="selectChoices" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,userAccount,
        questionID,surveyId,selectChoices
    </sql>
</mapper>
